{% extends 'base.html.twig' %}

{% block title %} {{ 'PROJECT'|capitalize }} - Home{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>{{ 'PROJECT'|capitalize }} {# controller_name ! ✅ #}</h1>

        {# <img src="{{asset('img/stephanie-de-monaco-inconnus-2.jpg')}}" title="my image" alt="My image"> #}

    </div>

{% endblock %}
